<h1>Home</h1>

<!-- Add button -->
<form method="get" action="/newRecipe">
  <button>Add new recipe</button>
</form>

<!-- Delete button -->
<form method="get" action="/deleteLastRecipe">
  <button>Delete last recipe</button>
</form>

<h1>All recipes</h1>
<!-- Display recipes -->
<div>
  <% allRecipes.forEach(recipe => { %>
  <p><%= recipe.name %></p>
  <%- include('ingredients', { ingredients: recipe.ingredients }) %>
  <hr />
  <% }) %>
</div>

<hr>

<h1>All recipeItems</h1>
<!-- Display recipe_items -->
<div>
  <% allRecipeItems.forEach(item => { %>
  <p><%= item.name %></p>
  <hr />
  <% }) %>
</div>

<% console.log(allRecipes) %>