<div>
  <ul>
    <% if(ingredients){ %>
      <% ingredients.forEach(ingredient => { %>
          <li><%= ingredient.name %></li>
          <li><%= ingredient.quantity %></li>
          <li><%= ingredient.unit %></li>
      <% }) %>
    <% } %>
  </ul>
</div>