<div>
  <ul>
    <% if(ingredients){ %>
      <% ingredients.forEach(ingredient => { %>
          <li>
            <%= ingredient.name %> -
            <%= ingredient.quantity %>
            <%= ingredient.unit %>
          </li>
      <% }) %>
    <% } else { %>
      <p>no ingredients</p>
    <% } %>
  </ul>
</div>